<h1>Create Contact</h1>

<form novalidate [formGroup]="form">

    <ce-tabs>
        <ce-tab-title>General</ce-tab-title>
        <ce-tab-title>Address Info</ce-tab-title>
        <ce-tab-content>
            <label>Email</label>
            <input type="text" placeholder="Email" id="email" formControlName="email" />

            <label>Firstname</label>
            <input type="text" placeholder="Firstname" id="firstname" formControlName="firstname" />

            <label>Lastname</label>
            <input type="text" placeholder="Lastname" id="lastname" formControlName="lastname" />

            <label>Phone Number</label>
            <input type="text" placeholder="Phone Number" id="phoneNumber" formControlName="phoneNumber" />

        </ce-tab-content>
        <ce-tab-content>
            <label>Street Address</label>
            <input type="text" placeholder="Street Address" id="streetAddress" formControlName="streetAddress" />

            <label>City</label>
            <input type="text" placeholder="City" id="city" formControlName="city" />
        </ce-tab-content>
    </ce-tabs>

    <button type="submit" (click)="tryToSave.emit({ detail:{ contact: form.value } })">Save</button>

</form> 