:host {
    display: grid;
    cursor: pointer;
    height: 2em;
    line-height: 2em;
    grid-template-columns: 1fr 100px;
    background-color: #fff;
    width: calc(100% - 20px);
    padding: 10px;
    border-bottom: 1px solid #EEF1F5;
}

.email {
    grid-column: 1;
}

.actions {
    font-size:0.625em;
}

.commands {
    grid-column: 2;
    text-align: center;
    font-size: 0.625em;
}