ce-contact-request-edit-embed {    

    display:block;
    margin-bottom:40px;

    h2,
    .contact-request-create {
        cursor:pointer;
    }

    .contact-request-description {
        height:300px;
        margin-bottom:30px;
    }
}


