:host(.isAuthenticated) {
    display:grid;
    grid-template-columns:300px 1fr;
    grid-template-rows: 42px 1fr;
    grid-gap:20px;
}

:host(.isAuthenticated) ce-header {
    grid-column:1/3;
    grid-row:1;
}

:host(.isAuthenticated) .router-outlet-container {
    grid-column:2;
    grid-row:2;
}

:host(.isAuthenticated) ce-left-nav {
    grid-column:1;
    grid-row:2;
}